.speech-bubble {
  display: none;
  position: absolute;
  bottom: 25%; /* Adjust the value as needed */
  left: 32%; /* Adjust the value as needed */
  transform: translate(-50%, 0);
  padding: 5px;
  border-radius: .4em;
  background-color: rgb(255, 254, 254);
  width: 15%;
  height: 6%;
  animation: fadeOut 4s linear forwards;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 22%;
	left: 15%;
	min-width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -14.5px;
	margin-bottom: -25px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container:hover .speech-bubble {
  display: inline;
  flex: 1 0 auto;
  cursor: pointer;
}

.image-container {
  position: absolute;
  max-width: 60%;
  width: 60%;
  height: auto;
  left: 2%;
  bottom: 2%;
}

.mike-picture {
  display: block;
  max-width: 60%;
  height: auto;
  max-height: 60%;
}
